# Virtual environment
.env/
venv/
env/

# Byte-compiled Python files
__pycache__/
*.pyc

# IDE specific files
.idea/
.vscode/

# Database files
*.db
*.sqlite
instance/

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo