<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Pandemic{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="//cdn.jsdelivr.net/npm/socket.io@4.8.1/client-dist/socket.io.min.js"></script>
    {% block head_extra %}{% endblock %}
</head>
<body>
<main class="container">
    {% block content %}{% endblock %}
</main>

{% include "_footer.html" %}

{% block scripts %}{% endblock %}
</body>
</html>
